<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Soy Karina Hera<strong> FrontEnd Developer</strong>  <p>
      Soy una insaciable aprendiz, amante de la tecnología y alguien que trabaja a diario para mejorar y crecer.
Me gusta el contacto con personas, clientes y tengo como objetivo personal y profesional comenzar una nueva carrera dentro del sector IT/TIC. Una empresa donde tener distintas funciones a diario, mejorar como profesional  y aprender, sea un requisito indispensable .

      </p>

            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">July 03, 1997</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">karinaheras1847@gmail.com</div>
              </div>

              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Madrid- Madrid
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
