<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2020</p>
              <div class="h5">Uetae</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Madrid</div>
               <h4 class="category">(IFCD0111) Certificado de programación estructurada de aplicaciones de gestión, 680 horas
               </h4>

            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2018</p>
              <div class="h5">Fictizia</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Madrid</div>
               <h4 class="category"> Diseño de interfaz y Front-end con HTML5, CSS3 & jQuery, Ajax, 150 horas
               </h4>

            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>1987 - 2003</p>
              <div class="h5">Universidad Simon Bolivar</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Barranquilla- Colombia</div>
               <h4 class="category">Administracion De Empresas y Negocio Internacional
               </h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
