<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

     <div class="row">


       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/img/pexels.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Crud con Angular</h4>
          <h5 class="card-text"><b>Technology :</b> Angular</h5>
          <a href="https://github.com/KarinaHeras/AAngular" class="btn btn-primary stretched-link">GithubLink</a>

        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/img/fotoPortafolio1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Crud Node</h4>
           <h5 class="card-text"><b>Technology :</b> Node js,Docker, Mongo, Mongoose</h5>
          <a href="https://github.com/KarinaHeras/Pr-ctica-NodeJS-Back-Kairos" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/img/fotoPortafolio2.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Crud con Vue</h4>
          <h5 class="card-text"><b>Technology :</b> Vue,HTML5,CSS3,JS,Firebase </h5>
          <a href="https://github.com/KarinaHeras/kursoVue" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/img/portafolio1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">TDD</h4>
           <h5 class="card-text"><b>Technology :</b> Jest, </h5>
          <a href="https://github.com/KarinaHeras/TDD" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>


    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/img/maquina.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Proyecto Stencil js</h4>
           <h5 class="card-text"><b>Technology :</b> Stencil js,Angular </h5>
          <a href="https://github.com/KarinaHeras/proyectoStencilJs" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/img/pexels1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Tienda Online</h4>
           <h5 class="card-text"><b>Technology:</b> Java,Servlet,JSP,JDBC  </h5>
          <a href="https://github.com/KarinaHeras/TiendaOnline" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
        </div>


     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/img/java.jpg"alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Proyecto Good Latin Cooker</h4>
          <h5 class="card-text"><b>Technology :</b> Java,Spring </h5>
          <a href="https://github.com/KarinaHeras/goodlatincooker" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/img/pexels-helena.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Mi primer proyecto </h4>
           <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS </h5>
          <a href="https://github.com/KarinaHeras/Pro2" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>




    </div>
    </div>
  </div>
